.brand__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.brand__items-list{
    padding-left: 1rem;
    cursor: pointer;
    flex: 1;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

